* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --buttonColor: #2a2c30;
    --secondaryColor: #4b4f56;
    --borderColor: #e3eaf0;
    --backgroundColor: #f7f7f7;
    --backgroundSecondary: #fefefe;
    --textColor: #1e1f23;
    --anchorColor: #535bf2;
    --main-color: #535bf2;
    --supporting-color: #ebf3fe;
    --glow-color: hsl(186, 91%, 4%);
  }
  
  html {
    font-size: 62.5%;
    color: var(--textColor);
  }
  
  /* have a look into body once after we done with rest of the styling  */
  body {
    margin: 0 auto;
    padding: 0 32px;
    min-width: 320px;
    background-color: var(--backgroundColor);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    color: var(--textColor);
  }
  
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  
  p,
  li,
  a,
  label {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    line-height: 1.5;
    font-weight: 400;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #646cff;
    text-decoration: none;
    &:hover {
      color: #535bf2;
    }
  }
  
  ::placeholder {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
  
  /*! layout */
  .container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
  }
  
  :is(
      .section-extra-product,
      .section-blog,
      .section-policy,
      .section-contact--homepage,
      .section-why--choose,
      .section-contact,
      footer
    )
    .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  /*! module / reusable  */
  
  .btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    text-transform: capitalize;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  
  .section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
  }
  
  /* states  */
  
  .btn:hover {
    background-color: var(--bnt-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
  }
  
  .btn:focus-visible,
  input:focus-visible,
  textarea:focus-visible {
    outline: 2px solid var(--para-color);
  }
  
  /** CSS for toast notifications */
  .toast {
    position: fixed;
    top: 2rem;
    right: 1.4rem;
    background-color: var(--buttonColor);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 0;
    border-color: red;
    font-size: 1.6rem;
    z-index: 1000;
    font-family: "urbanist";
    animation: toastAnimation 2s linear;
    -webkit-animation: toastAnimation 2s linear;
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
  }
  
  @keyframes toastAnimation {
    0% {
      transform: translateX(100%);
      opacity: 0;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
    }
    20% {
      transform: translateX(0);
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
  
  /***** Navbar Section *****/
  
  .top_txt {
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
  
    & .head_txt p {
      font-size: 1.5rem;
    }
  
    & .sing_in_up {
      display: flex;
      gap: 3.2rem;
    }
  }
  
  .section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  .section-navbar .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.8rem; /* we override the main container padding property  */
  }
  
  .section-navbar img {
    width: 10%;
  }
  
  .section-navbar .navbar .nav-menu {
    display: flex;
    gap: 3.2rem;
    text-transform: capitalize;
    align-items: center;
  
    & .nav-item .nav-links {
      color: var(--heading-color);
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.6rem;
      display: inline-block;
      position: relative;
  
      &:after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.1rem solid var(--main-color);
        transition: all 0.3s linear;
      }
    }
    & .nav-item .nav-links:hover {
      color: var(--main-color);
    }
  
    & .nav-item a:hover:after {
      width: 100%;
    }
  }


  .nav-icon {
    display: none;
    color: #0ace0d;
    

  }
  
  .nav-icon .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }
  

  .movie-container{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: 30px;

  }
  /***** Hero Section *****/

main {
  
  height: 100vh;
  position: relative;
  background-color: #d9e9ff;
  background-image: linear-gradient(
    to top right,
    hsl(300, 3%, 8%),
    #00040F
    
  );
}
.shop{
  margin-bottom: 4rem;
}
.section-hero--content{
  display: flex;
  flex-direction: column;
  
  margin: 30px 0 0 30px;
}

.custom-shape-divider-bottom-1696038172 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding-bottom: 2rem;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696038172 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 12rem;
}

.custom-shape-divider-bottom-1696038172 .shape-fill {
  fill: #535bf2;
}

main .section-hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--supporting-color); */
}

.section-hero .grid {
  align-items: center;

  gap: 2.4rem;
}

.section-hero {
  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    word-spacing: 0.2rem;
    color: white;
    font-weight: 700;
  }

  & .hero-heading {
    font-size: 3.8rem;
    line-height: 1.5;
    initial-letter: -0.2rem;
    text-transform: capitalize;
    color: #ffff;
    font-family: "Jost";
  }

  & .hero-para {
    margin: 2rem 0 4.2rem 0;
    color: white;
  }
}

.section-hero img {
  width: 100%;
  height: auto;
  
}





.about{
  background-color: #00040F;
}
.about .row{
  display: flex;
  align-items:center ;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.about .row .image{
  flex: 1 1 40rem;
}
.about .row img{
  width: 100%;
  height: 50rem;
}
.about .row .content{
  flex: 1 1 40rem;
  text-align: center;
}
.about .row .content h3 {
  font-size: 2rem;
  color: white;
}
.about .row .content p{
  line-height: 2;
  font-size: 1.7rem;
  padding:1rem 0;
  color: white;

}
.about .box-container{
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.about .box-container .box{
  /* flex: 1 1 17rem; */
  width: 17rem;
  display: flex;
  background-color: white;
  border-radius: .5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  margin-left: 8rem;
  text-align: center;

}


.about .box-container .box h3{
  color: #535bf2;
  font-size: 2rem;
}
.about .box-container .box span{
  font-size: 1.5rem;
  color: black;
}
/* <!-- about  section en

/***** End Hero Section *****/
/* Login form setion start */
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh-20rem);
  margin: 20px;
  background-color: #00040F;
  }
  .form-container .Form{
      background-color: white;
      border-radius: .5rem;
      width: 50rem;
      padding: 3rem;
      color: black;
  }
  
  .form-container .Form h3{
    text-align: center;  
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .footer-container .Form .box{
    background-color: gray;
    border-radius: .5rem;
    padding: 2rem;
    
  }
  .form-container .Form p{
      padding-top: 1rem;
      font-size: 1.7rem;
      color:black;
  
  }
  .form-container form p span{
      color: red;
  }
  .form-container form .box{
      width: 100%;
      border-radius: .5rem;
      margin: 1rem 0;
      font-size: 1.8rem;
      color:black ;
      padding: 1rem ;
      background-color: 1px solid lightblue;
  }
  .form-container form .or{
      font-size: 2rem;
      margin-top: .5rem;
      text-align: center;
      color: black;
  }
  .form-container form .icons{
      text-align: center;
  }
  .form-container form .icons {
      color:#535bf2;
      background-color:white;
      font-size: 2.5rem;
      border-radius: 50%;
      padding: .5rem 1.5rem;
      gap: 3rem;
      cursor: pointer;
      margin: 1rem 2.5rem;
      border: rgb(94, 94, 196);
  }
  .form-container form .icons:hover {
  background-color: rgb(156, 156, 218);
  
  
  }
  .form-container form .al{
      text-align: center;
      color: black;
  }
  /* <!-- login profile section section end --> */
  
  

/***** Contact us Section start *****/

.container2{
  background:#00040F;
  color: white;
  justify-content: center;
  align-items: center;

}


.section-common--heading{
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
}
.section-common--subheading{
  font-size: 3rem;
  font-family: p;
  font-weight: 900;
  color: white;
  margin-left: 3rem;
  margin-top: 4rem;
  padding-top: 4rem;
}



 .form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
 
}
.input{
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  font-family: "work sans";
}

.grid-two--col{
  grid-template-columns: repeat(2,1fr);
}
 .grid {
  gap: 3.4rem;
}


textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  font-family: "work sans";
}

 textarea {
  height: 10rem;
}
.contact-image{
  padding-bottom: 10px;

}
.contact_image{
  width: 600px;
  height: 450px;
  padding-bottom:80px ;
  padding-left: 40px;
}

/***** Contact us Section end *****/

  
/* footer section start   */

footer {
    width: 100%;
    background: var(--buttonColor);
    color: var(--backgroundColor);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 6.4rem;
  }
  
  .footer-container .content_1 img {
    height: auto;
    width: 15rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
  }
  
  .footer-container h4 {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
  }
  
  .footer-container a {
    display: block;
    text-decoration: none;
    color: #cccccc;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
  }
  
  .footer-container .content_1 p,
  .footer-container .content_4 p {
    color: #cccccc;
    margin: 2.5rem 0;
    font-size: 1.4rem;
  }
  
  .footer-container .content_4 input[type="email"] {
    background-color: var(--textColor);
    border: none;
    color: var(--backgroundColor);
    outline: none;
    padding: 1.4rem 0.8rem;
    width: 100%;
  }
  
  .footer-container .content_4 .f-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container .content_4 .bx {
    color: var(--white);
  }
  
  .f-design {
    width: 100%;
    color: var(--white);
    text-align: center;
  }
  
  .f-design .f-design-txt {
    border-top: 1px solid var(--secondaryColor);
    padding: 1.6rem 0;
    color: var(--secondaryColor);
  }
    /* error page */

    .error-section{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: white;
        color: black;
        flex-direction: column;
    }
    .error-section img{
        width: 50%;

    }
    .error-section .navl{
        padding: 2rem 3rem;
        background-color: rgb(214, 51, 51);
        color: #1e1f23;
        margin-top: 3rem;
    }
    /* loading section  */

.loader-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}


@media (width <= 980px) {
  body {
    padding: 0 0.6rem;
  }
  .section-products #productContainer {
    grid-template-columns: repeat(2, minmax(33%, 1fr));
  }
  .section-hero .hero-heading {
    font-size: 4.4rem;
  }
  footer {
    padding: 0 1.6rem;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(33%, 1fr));
  }
  .footer-container .content_1 {
    grid-column: 1 / -1;
    margin-bottom: 3.2rem;
  }
  .footer-container .content_4 {
    margin-top: 3.2rem;
  }
  main .section-hero {
    height: auto;
  }
  main .section-hero .grid-two--cols {
    grid-template-columns: 1fr;
  }
  .section-hero .section-hero--content {
    order: 2;
  }
  .section-hero .section-hero-image {
    display: grid;
    place-items: center;
  }
  .section-hero .section-hero-image figure {
    display: grid;
    place-items: center;
  }
  .section-hero img {
    width: 40%;
  }
  .section-about .about-div {
    text-align: left;
    padding: 0;
  }
}



@media (width <= 768px) {
  .grid-two--cols,
  .section-contact .grid-two--cols,
  .grid-three--cols {
    grid-template-columns: 1fr;
  }
  .section-hero .hero-heading {
    font-size: 4.2rem;
  }
  .section-products #productContainer {
    grid-template-columns: repeat(1, minmax(33%, 1fr));
  }
  #productCartContainer .card {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.1fr repeat(2, 1fr);
    align-items: center;
    gap: 3.2rem;
  }
  .productQuantity {
    text-align: center;
  }
  .stockElement {
    grid-column: 1 / 4;
  }
  .remove-to-cart-button {
    grid-column: 4 / -1;
  }
  .section-navbar .container {
    flex-direction: column;
    gap: 3.2rem;
  }
  .section-why--choose img {
    width: 30%;
  }
  .section-why--choose .grid {
    gap: 1.4rem;
  }
  .section-why--choose .text-align--right .why-choose--div {
    align-items: flex-start;
  }
  .section-why--choose .choose-left-div {
    text-align: left;
  }
  .section-contact--homepage .btn {
    display: block;
    text-align: center;
  }
  :is(.section-contact--homepage) .container:first-child {
    padding: 6.4rem 0rem 2.4rem;
  }
  /* contact us */
  
}
@media (width <= 500px){
  .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 3rem;
    margin-top: 3rem;
   
  }
  .input{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
    font-family: "work sans";
  }
  
  .grid-two--col{
    grid-template-columns: repeat(2,1fr);
  }
   .grid {
    gap: 3.4rem;
  }
  
  
  textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
    font-family: "work sans";
  }
  
   textarea {
    height: 10rem;
  }
  .contact-image{
    padding-bottom: 10px;
  
  }
  .contact_image{
    width: 600px;
    height: 450px;
    padding-bottom:80px ;
    padding-left: 40px;
  }
  
  
}

@media (width <= 400px){
  .movie-container{
    grid-template-columns: repeat(1,1fr);
    
  }
  .hero-container {
    width: 100%;
    margin-right: 20px;
    align-items: left;
    margin-top: 3.2rem;
  }
  .section-navbar .navbar ul {
    display: flex;
    gap: 1rem;
    text-transform: capitalize;
    align-items: left;
  }

  /* contact us */
  .section-common--subheading{
    font-size: 3rem;
    font-family: p;
    font-weight: 900;
    color: white;
    margin-left: 3rem;
    margin-top: 4rem;
    padding-top: 4rem;
  }
  
  
  
   .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 1rem;
    margin-top: 3rem;
   
  }
  .input{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
    font-family: "work sans";
  }
  
  .grid-two--col{
    grid-template-columns: repeat(1,1fr);
  }
   .grid {
    gap: 3.4rem;
  }
  
  
  textarea {
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
    font-family: "work sans";
  }
  
   textarea {
    height: 10rem;
  }
  .contact-image{
    padding-bottom: 10px;
  
  }
  .contact_image{
    width: 300px;
    height: 300px;
    padding-bottom:80px ;
    padding-left: 1px;
  }
  main {
  
    height: 100vh;
    position: relative;
    background-color: #d9e9ff;
    background-image: linear-gradient(
      to top right,
      hsl(300, 3%, 8%),
      #00040F
      
    );
  }
  .shop{
    margin-bottom: 4rem;
  }
  .section-hero--content{
    display: flex;
    margin-right: 2rem;
    padding-right: 2rem;
    text-align: center;
    flex-direction: column;
    
    margin: 30px 0 0 30px;
  }
  
  .custom-shape-divider-bottom-1696038172 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    padding-bottom: 2rem;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1696038172 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 5rem;
  }
  
  .custom-shape-divider-bottom-1696038172 .shape-fill {
    fill: #535bf2;
  }
  
  main .section-hero {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--supporting-color); */
  }
  
  .section-hero .grid {
    align-items: center;
  
    gap: 2.4rem;
  }
  
  .section-hero {
    & .hero-subheading {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      word-spacing: 0.2rem;
      color: white;
      font-weight: 700;
    }
  
    & .hero-heading {
      font-size: 3.8rem;
      line-height: 1.5;
      initial-letter: -0.2rem;
      text-transform: capitalize;
      color: #ffff;
      font-family: "Jost";
    }
  
    & .hero-para {
      margin: 2rem 0 4.2rem 0;
      color: white;
    }
  }
  
  .section-hero img {
    width: 10%;
    display: none;
    height: auto;
    
  }

  /* about section */
  .about{
    background-color: #00040F;
  }
  .about .row{
    display: flex;
    align-items:center ;
    flex-wrap: wrap;
  }
  .about .row .image{
    flex: 1 1 40rem;
  }
  .about .row img{
    width: 100%;
    height: 50rem;
  }
  .about .row .content{
    flex: 1 1 40rem;
    text-align: center;
  }
  .about .row .content h3 {
    font-size: 2rem;
    color: white;
  }
  .about .row .content p{
    line-height: 2;
    font-size: 1.7rem;
    padding:1rem 0;
    color: white;
    margin-bottom: 2rem;
  
  }
  .about .box-container{
    margin-top: 4rem;
    display: flex;
    margin-right: 1rem;
    gap: 1.5rem;
    text-align: center;
    flex-wrap: wrap;
  }
  .about .box-container .box{
    flex: 1 1 16rem;
    display: flex;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin-right: 7rem;
    margin-bottom: 2rem;
    gap: 2rem;
  
  }
  
  .about .box-container .box h3{
    color: var(--main-color);
    font-size: 2rem;
  }


  /* home burger */

  /* .nav-menu  {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  } */

  .nav-logo  {
    font-size: 17px;
  }

  /* .nav-icon .icon {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: hsl(0, 88%, 45%);
  } */

  
  
  
  

}